html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "topbar topbar topbar topbar topbar topbar"
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main"
        "sidebar main main main main main"
    ;
}

#topdiv {
    display: flex;
    align-items: center;
    grid-area: topbar;
    border-bottom: 3px solid black;
    background-image: linear-gradient(to top, rgb(41, 71, 77), rgb(44, 44, 44));
    padding: 0 10px 0 10px;
}

#topdiv > button {
    width: 100px;
    height: 50px;
    margin: 0 10px 0 10px;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 10px;
}

#topdiv > button:active {
    background-color: rgb(83, 131, 12);
}

#topdiv > h2 {
    margin-right: auto;
    color: yellow;
    text-shadow: 2px 2px 0px #fff56b;
}

#projectsarea {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: rgb(185, 185, 185);
    background-image: linear-gradient(to bottom, rgb(185, 185, 185), rgb(218, 216, 216));
}

#projectsarea > p {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin: 0;
    text-align: center;
    padding: 2px 0px 2px 0px;
    order: 1;
}

#projectsarea > div {
    padding: 5px 3px 3px 5px;
}

#projectsarea > div:hover {
    background-color: rgb(89, 110, 106);
}

#projecttodosarea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: 
        "todos todoinfo todoinfo"
    ;
    grid-area: main;
    background-color: rgb(185, 185, 185);
    background-image: linear-gradient(to bottom, rgb(185, 185, 185), rgb(218, 216, 216));
}

#todos {
    grid-area: todos;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    overflow: auto;
    overflow-wrap: break-word;
    background-image: linear-gradient(to bottom, rgb(136, 135, 135), rgb(180, 179, 179))
}

#todos > div {
    padding: 5px 5px 5px 5px;
}

#todos > div:hover {
    background-color: rgb(71, 71, 71);
}

#todos > *:first-child {
    margin-top: auto;
    order: 1;
}

#todos > span:only-child {
    margin: auto 0 0 0;
}

.probtns {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}

#todoinfo {
    grid-area: todoinfo;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#todoinfo > div > button {
    width: 25em;
    height: 5em;
}

#todoinfo > div:first-of-type {
    height: 100%;
}

#renameform {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    z-index: 2;
    top: 50%;
    left: 50%;
    background-color: rgb(203, 255, 244);
    border: 3px solid black;
    box-shadow: 5px 10px 10px rgb(99, 94, 48);
}

#renameform > label {
    margin: 10px 20px auto 20px;
}

#todoform {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 30vw;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -15vw 0 0 -25vw;
    background: rgb(203, 255, 244);
    border: 3px solid black;
    box-shadow: 5px 10px 10px rgb(99, 94, 48);
}

#todoform > * {
    text-align: center;
}

label > textarea {
    max-height: 148px;
    max-width: 784px;
}

#todoform > label {
    margin: 10px 0px 10px 0px;
}

#todoform > label:last-of-type {
    margin-bottom: auto;
}

#todoform > button, #renameform > button {
    height: 5em;
    margin: 10px 25px 10px 25px;
    box-shadow: 0 0 8px;
    border-radius: 25px;
    border: 0;
}